*,
::after,
:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  padding: 0;
  margin: 0;
  margin-left: var(--width-collapsed);
  transition: ease 0.3s;
  min-height: 100vh;
}

:root {
  --width: 300px;
  --padding: 10px;
  --bgcolor: #1b396a;
  --hovercolor: rgb(255, 255, 255, 0.3);
}


.bg-moles {
  background-color: #1b396a;
}

.btn-moles {
  background-color: #1b396a;
  color: #fff;
  border: none;
}

.btn-moles:hover {
  background-color: #1b396a;
  color: #fff;
}

.btn-block {
  width: 100%;
}

.menu-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 3px rgba(0, 0, 0, .2)
}

.body-expanded {
  margin-left: var(--width);
}

#sidemenu {
  background: #1b396a;
  background: linear-gradient(0deg, #1b396a 0%, #1b396a 30%, #1b396a 70%, #1b396a 100%);
  color: white;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  transition: ease 0.3s;
}

#sidemenu a {
  color: #fff;
  text-decoration: none;
}

#sidemenu #header {
  box-sizing: border-box;
  border-bottom: solid 1px var(--hovercolor);
}

#sidemenu #header #title {
  box-sizing: border-box;
  overflow: hidden;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #menu-btn {
  display: inline-block;
}

#sidemenu #header #menu-btn {
  cursor: pointer;
  padding: 10px;
  width: var(--width-collapsed);
  box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
  background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-hamburguer {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

#sidemenu #profile {
  padding: var(--padding) 0;
  /* text-align: center; */
}

#sidemenu #profile #photo {
  box-sizing: border-box;
  padding: var(--padding);
  margin: 0 auto;
}

#sidemenu #profile #photo img {
  /* border-radius: 50%;Aqui se le quita el border a la img */
  width: 60%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
  font-size: 18px;
  padding: var(--padding) 0;
  overflow: hidden;
}

#sidemenu #menu-items {
  overflow: hidden;
}

#sidemenu #menu-items .item {
  width: var(--width);
}

#sidemenu #menu-items .item .ico {
  display: inline-block;
}

#sidemenu #menu-items .item .ico,
#sidemenu #menu-items .item .title {
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-items .item a {
  display: block;
}

#sidemenu #menu-items .item a:hover {
  background-color: var(--hovercolor);
}

#sidemenu #menu-items .item .ico {
  box-sizing: border-box;
  padding: var(--padding);
  width: var(--width-collapsed);
}

#sidemenu #menu-items .item .ico img {
  width: 100%;
}

#sidemenu #menu-items .item .title {
  padding: var(--padding) 0;
}

.menu-expanded {
  width: var(--width);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-expanded #header #title {
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: var(--padding);
}

.menu-expanded #header #title span {
  width: calc(var(--width) - var(--width-collapsed) - 5px);
  overflow: hidden;
  /*display: inline-block;*/
}

.menu-expanded #profile #photo {
  width: 50%;
}

.menu-expanded #profile #name {
  width: 100%;
}

.menu-collapsed {
  width: var(--width-collapsed);
}

.menu-collapsed #header #title {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.menu-collapsed #profile #name {
  display: none;
}

.menu-collapsed .item {
  width: 100px;
}

@media (max-width: 970px) {
  .break_size::placeholder {
    font-size: 15px;
  }

  option {
    font-size: 14px;
  }

  .selector {
    font-size: 15px;
    grid-column: 2;
    grid-row: 4;
  }
}

@media (max-width: 767px) {
  .break_size::placeholder {
    font-size: 20px;
  }

  option {
    font-size: 16px;
  }

  .selector {
    font-size: 16px;
  }
}

.tipo-letra {
  font-family: Monserrat;

}

.tipo-Letra-Titulo {
  font-family: Monserrat;
}

.fondo-color-indefinido {
  background-color: #1b396a;

}

.fondo-color-indefinido-center {
  background-color: #1b396a;
}

/* ///// */
@font-face {
  font-family: Monserrat;
  src: url('../funtes/Montserrat-Regular.ttf');
}


@import url("public/fuentes/Montserrat-Regular.ttf");

/*Estilos Fuera Del Menu*/
body {
  margin: 0;
  font-family: Monserrat;
  background-color: #F9FCFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23F9FCFF' cx='50' cy='0' r='50'/%3E%3Cg fill='%23f7fafd' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f4f7fa' cx='50' cy='100' r='50'/%3E%3Cg fill='%23f2f5f8' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23eff2f5' cx='50' cy='200' r='50'/%3E%3Cg fill='%23edf0f3' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ebedf0' cx='50' cy='300' r='50'/%3E%3Cg fill='%23e8ebee' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e6e9ec' cx='50' cy='400' r='50'/%3E%3Cg fill='%23e4e6e9' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e1e4e7' cx='50' cy='500' r='50'/%3E%3Cg fill='%23dfe1e4' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dddfe2' cx='50' cy='600' r='50'/%3E%3Cg fill='%23dadde0' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d8dadd' cx='50' cy='700' r='50'/%3E%3Cg fill='%23d6d8db' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d3d5d8' cx='50' cy='800' r='50'/%3E%3Cg fill='%23d1d3d6' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cfd1d4' cx='50' cy='900' r='50'/%3E%3Cg fill='%23ccced1' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23CACCCF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}


.colorBlanco {
  color: rgb(255, 255, 255);
}

.tamañoDeImgPersona {
  width: 20rem;
  height: 20rem;
}

.colorTransparente {
  background: rgba(138, 221, 45, 0);
}

.colorDeBotonazul {
  /*Color Que Puedes Ocupar En El ProyeccolorDeBotonazulto (Institucional)*/
  background-color: #1b396a;
}

.colorDeBotonazul:hover {
  background: #1d4f9e;
  color: #fff;
}

.colorDeBoton {

  background-color: #1b396a;
}

.logoBlancoEnSidebar {
  width: 5rem;
  height: 5rem;
}

/*COLORES DE BOTONES DE MOSTRAR EN LA TABLA DE CREDITOS*/
/*1*/
.colorBoton1 {
  background-color: #90e0ef;

}

.colorBoton1:hover {
  background: #90e0ef;
  color: #fff;
}

/*1*/
/*2*/
.colorBoton2 {
  background: #48cae4;
}

.colorBoton2:hover {
  background: #48cae4;
  color: #fff;
}

/*2*/
/*3*/
.colorBoton3 {
  background: #0096c7;
}

.colorBoton3:hover {
  background: #0096c7;
  color: #fff;
}

/*3*/
/*4*/
.colorBoton4 {
  background: #0077b6;
}

.colorBoton4:hover {
  background: #0077b6;
  color: #fff;
}

/*4*/
/*5*/
.colorBoton5 {
  background: #023e8a;
}

.colorBoton5:hover {
  background: #023e8a;
  color: #fff;
}

/*5*/
.colorDeFondo {
  background-color: #e9ecef;
}

/*TamañoDeImgGif*/
.TamañoDe1gif {
  height: 20rem;
}

.TamañoDe2gif {
  height: 20rem;
  width: 25rem;
}

/*Estilo De Boton GuardarBoton De Carpeta  Creditos Agregar*/
/*Boton1*/
.guardarBoton {
  position: relative;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  background: #023e8a;
  color: #fff;
}

.guardarBoton:hover {
  transform: translateY(-3px);
  background: #023e8a;
  color: #fff;
}

.guardarBoton:active {
  transform: translateY(-1px);
  box-shadow: #023e8a;
}

.guardarBoton::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.guardarBoton::after {
  background-color: #fff;
}

.guardarBoton:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*Boton2*/
.RegresarBoton {
  position: relative;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  background: #ff0000;
  color: #fff;
}

.RegresarBoton:hover {
  transform: translateY(-3px);
  background: #ff0000;
  color: #fff;
}

.RegresarBoton:active {
  transform: translateY(-1px);
  box-shadow: #ff0000;
}

.RegresarBoton::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.RegresarBoton::after {
  background-color: #fff;
}

.RegresarBoton:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*Tamaño De Img Circular En Agregar Carpeta Siempre Tendras Unas secciones Basias*/
.TamañoDeImgCarpeta {
  height: 30rem;
  width: 30rem;
}

.tamañoDeImgTecnmCircular {
  height: 15rem;
  width: 15rem;
}

.tamañoDeImgTecnmCircularprueba {
  height: 20rem;
  width: 20rem;
}

/*Boton3*/
.EditarBoton {
  position: relative;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  background: #ffd60a;
  color: #fff;
}

.EditarBoton:hover {
  transform: translateY(-3px);
  background: #ffd60a;
  color: #fff;
}

.EditarBoton:active {
  transform: translateY(-1px);
  box-shadow: #ffd60a;
}

.EditarBoton::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.EditarBoton::after {
  background-color: #fff;
}

.EditarBoton:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*Boton4*/
.pdfBoton {
  position: relative;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  background: #38b000;
  color: #fff;
}

.pdfBoton:hover {
  transform: translateY(-3px);
  background: #38b000;
  color: #fff;
}

.pdfBoton:active {
  transform: translateY(-1px);
  box-shadow: #38b000;
}

.pdfBoton::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.pdfBoton::after {
  background-color: #fff;
}

.pdfBoton:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*Boton5*/
.CambioDeColorAzul {
  position: relative;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  background: #3a86ff;
  color: #fff;
}

.CambioDeColorAzul:hover {
  transform: translateY(-3px);
  background: #3a86ff;
  color: #fff;
}

.CambioDeColorAzul:active {
  transform: translateY(-1px);
  box-shadow: #3a86ff;
}

.CambioDeColorAzul::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.CambioDeColorAzul::after {
  background-color: #fff;
}

.CambioDeColorAzul:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*Efectos De Botones De Colores De Mostrar Inicio*/
/*Boton6*/
.MostrarUno {
  position: relative;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  background: #90e0ef;
  color: #fff;
}

.MostrarUno:hover {
  transform: translateY(-3px);
  background: #90e0ef;
  color: #fff;
}

.MostrarUno:active {
  transform: translateY(-1px);
  box-shadow: #90e0ef;
}

.MostrarUno::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.MostrarUno::after {
  background-color: #fff;
}

.MostrarUno:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*Boton6*/
/*Boton7*/
.MostrarDos {
  position: relative;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  background: #48cae4;
  color: #fff;
}

.MostrarDos:hover {
  transform: translateY(-3px);
  background: #48cae4;
  color: #fff;
}

.MostrarDos:active {
  transform: translateY(-1px);
  box-shadow: #48cae4;
}

.MostrarDos::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.MostrarDos::after {
  background-color: #fff;
}

.MostrarDos:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*Boton7*/
/*Boton8*/
.MostrarTres {
  position: relative;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  background: #0096c7;
  color: #fff;
}

.MostrarTres:hover {
  transform: translateY(-3px);
  background: #0096c7;
  color: #fff;
}

.MostrarTres:active {
  transform: translateY(-1px);
  box-shadow: #0096c7;
}

.MostrarTres::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.MostrarTres::after {
  background-color: #fff;
}

.MostrarTres:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*Boton8*/
/*Boton9*/
.MostrarCuatro {
  position: relative;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  background: #0077b6;
  color: #fff;
}

.MostrarCuatro:hover {
  transform: translateY(-3px);
  background: #0077b6;
  color: #fff;
}

.MostrarCuatro:active {
  transform: translateY(-1px);
  box-shadow: #0077b6;
}

.MostrarCuatro::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.MostrarCuatro::after {
  background-color: #fff;
}

.MostrarCuatro:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*Boton9*/
/*Efectos De Botones De Colores De Mostrar Fin*/


/*Tamaño De Img Circular En Agregar Carpeta Siempre Tendras Unas secciones Basias*/
.TamañoDeImgCarpeta {
  height: 30rem;
  width: 30rem;
}

.tamañoDeImgTecnmCircular {
  height: 15rem;
  width: 15rem;
}

.tamañoDeImgTecnmCircularprueba {
  height: 20rem;
  width: 20rem;
}

/*Fondo De Div*/
/* .divFondoPrimero { */
/*Nota
  - > No Se Borre Lo Ocuparemos En Algun Momento En Un Div En Una vista
      Del Proyecto Del Sistema ExtraEscolares
  */
/*   background-image: url(../img/LogoPrincipal.gif); */
/*   background-color: #0077b6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
/*  height: 22em; Si le quitamos el tamaño va a agarrar el que guste */
/* } */

/*Tamaño de redes sociales*/
.tamañoDeImgRedesSociales {
  width: 18rem;
  height: 18rem;
}

.tamaño {
  width: 20rem;
  height: 20rem;
}

.tamañoDeLogoVistaAlumno {
  width: 25rem;
  height: 25rem;
}

.tamañoDeVistaAlumnoImg {
  height: 20rem;
  width: 20rem;
}

.CarpetaImgVista {
  width: 28rem;
  height: 28rem;
}

.tamañoDeLogoVistaCretido {
  height: 15rem;
  width: 15rem;
}

.tamañoDeLogoVistaCretidoImg {
  height: 10rem;
  width: 10rem;
}