@font-face {
  font-family: Monserrat;
  src: url('../funtes/Montserrat-Regular.ttf');
}


@import url("public/fuentes/Montserrat-Regular.ttf");

/*Estilos Fuera Del Menu*/
body {
  margin: 0;
  font-family: Monserrat;
}

.colorBlanco{
  color: rgb(255, 255, 255);
}
.tamañoDeImgPersona{
  width: 20rem;
  height: 20rem;
}
.colorTransparente{
  background:rgba(138,221,45,0);
}
.colorDeBotonazul{
  /*Color Que Puedes Ocupar En El Proyecto (Institucional)*/
  background-color: #1b396a;

}