/*HOJA DE ESTILOS PRINCIPAL DEL LOGIN*/

@font-face {
    font-family: Monserrat;
    src: url('../funtes/Montserrat-Regular.ttf');
}


@import url("public/fuentes/Montserrat-Regular.ttf");

.colorTransparente {
    background: rgba(138, 221, 45, 0);
}

.TipoDeLetraDeLogint {
    /*Tipo De Letra Para Proyecto*/
    font-family: Monserrat;
    background-color: #e9ecef;
    /*Se Coloco Un Color Al Fondo Del Login*/
}

.tamañoDeImgLogo {
    width: 21rem;
    height: 25rem;
}

.colorDeBoton {
    /*Color Que Puedes Ocupar En El Proyecto (Institucional)*/
    background-color: #1b396a;

}

.tamañoDeImgTecnmCircular {
    width: 15rem;
    height: 15rem;
}

.PrimerBotonDeAgregarNuevoUsuario {
    background-color: #1b396a;
}

.divFondoPrimero {
    /*Nota
    - > No Se Borre Lo Ocuparemos En Algun Momento En Un Div En Una vista
        Del Proyecto Del Sistema ExtraEscolares
    */
    background-image: url(../img/LogoPrincipal.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 22em;
}

/*Estilo De Boton GuardarBoton De Carpeta  Creditos Agregar*/
/*Boton1*/
.guardarBoton {
    position: relative;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    background: #023e8a;
    color: #fff;
}

.guardarBoton:hover {
    transform: translateY(-3px);
    background: #023e8a;
    color: #fff;
}

.guardarBoton:active {
    transform: translateY(-1px);
    box-shadow: #023e8a;
}

.guardarBoton::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.guardarBoton::after {
    background-color: #fff;
}

.guardarBoton:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/*Boton2*/
.RegresarBoton {
    position: relative;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    background: #ff0000;
    color: #fff;
}

.RegresarBoton:hover {
    transform: translateY(-3px);
    background: #ff0000;
    color: #fff;
}
* {
    padding: 0;
    margin: 0;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
width: 100%;
height: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #0e4166;
background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}
