/*HOJA DE ESTILOS PRINCIPAL DEL LOGIN*/

@font-face {
    font-family: Monserrat;
    src: url('../funtes/Montserrat-Regular.ttf');
}


@import url("public/fuentes/Montserrat-Regular.ttf");
.colorTransparente{
    background:rgba(138,221,45,0);
}
.TipoDeLetraDeLogint{
    /*Tipo De Letra Para Proyecto*/
  font-family: Monserrat;
  background-color: #e9ecef;
  /*Se Coloco Un Color Al Fondo Del Login*/
}
.tamañoDeImgLogo{
    width: 21rem;
    height: 25rem;
}
.colorDeBoton{
    /*Color Que Puedes Ocupar En El Proyecto (Institucional)*/
    background-color: #1b396a;
  
}
.tamañoDeImgTecnmCircular{
    width: 15rem;
    height: 15rem;
}
.PrimerBotonDeAgregarNuevoUsuario{
    background-color: #1b396a;
}
.divFondoPrimero{
    /*Nota
    - > No Se Borre Lo Ocuparemos En Algun Momento En Un Div En Una vista
        Del Proyecto Del Sistema ExtraEscolares
    */
    background-image: url(../img/LogoPrincipal.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 22em;
}