@font-face {
  font-family: Monserrat;
  src: url('../funtes/Montserrat-Regular.ttf');
}


@import url("public/fuentes/Montserrat-Regular.ttf");

/*Estilos Fuera Del Menu*/
body {
  margin: 0;
  font-family: Monserrat;
}

.colorBlanco{
  color: rgb(255, 255, 255);
}
.tamañoDeImgPersona{
  width: 20rem;
  height: 20rem;
}
.colorTransparente{
  background:rgba(138,221,45,0);
}
.colorDeBotonazul{
  background: #1b396a;
  color: #fff;
}

.colorDeBotonazul:hover{
  background: #1d4f9e;
  color: #fff;
}


/*Estilo De Boton GuardarBoton De Carpeta  Creditos Agregar*/
/*Boton1*/
.guardarBoton {
  position: relative;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  background: #023e8a;
  color: #fff;
 }
 
 .guardarBoton:hover {
  transform: translateY(-3px);
    background: #023e8a;
    color: #fff;
 }
 
 .guardarBoton:active {
  transform: translateY(-1px);
  box-shadow: #023e8a;
 }
 
 .guardarBoton::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 
 .guardarBoton::after {
  background-color: #fff;
 }
 
 .guardarBoton:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
 }