/*HOJA DE ESTILOS PRINCIPAL DEL LOGIN*/

@font-face {
    font-family: Monserrat;
    src: url('../funtes/Montserrat-Regular.ttf');
}


@import url("public/fuentes/Montserrat-Regular.ttf");

.colorTransparente {
    background: rgba(138, 221, 45, 0);
}

.TipoDeLetraDeLogint {
    /*Tipo De Letra Para Proyecto*/
    font-family: Monserrat;
    background-color: #F9FCFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23F9FCFF' cx='50' cy='0' r='50'/%3E%3Cg fill='%23f7fafd' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f4f7fa' cx='50' cy='100' r='50'/%3E%3Cg fill='%23f2f5f8' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23eff2f5' cx='50' cy='200' r='50'/%3E%3Cg fill='%23edf0f3' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ebedf0' cx='50' cy='300' r='50'/%3E%3Cg fill='%23e8ebee' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e6e9ec' cx='50' cy='400' r='50'/%3E%3Cg fill='%23e4e6e9' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e1e4e7' cx='50' cy='500' r='50'/%3E%3Cg fill='%23dfe1e4' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dddfe2' cx='50' cy='600' r='50'/%3E%3Cg fill='%23dadde0' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d8dadd' cx='50' cy='700' r='50'/%3E%3Cg fill='%23d6d8db' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d3d5d8' cx='50' cy='800' r='50'/%3E%3Cg fill='%23d1d3d6' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cfd1d4' cx='50' cy='900' r='50'/%3E%3Cg fill='%23ccced1' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23CACCCF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    /*Se Coloco Un Color Al Fondo Del Login*/
}

.tamañoDeImgLogo {
    width: 21rem;
    height: 25rem;
}

.colorDeBoton {
    /*Color Que Puedes Ocupar En El Proyecto (Institucional)*/
    background-color: #1b396a;

}

.tamañoDeImgTecnmCircular {
    width: 15rem;
    height: 15rem;
}

.PrimerBotonDeAgregarNuevoUsuario {
    background-color: #1b396a;
}

.divFondoPrimero {
    /*Nota
    - > No Se Borre Lo Ocuparemos En Algun Momento En Un Div En Una vista
        Del Proyecto Del Sistema ExtraEscolares
    */
    background-image: url(../img/LogoPrincipal.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 22em;
}

/*Estilo De Boton GuardarBoton De Carpeta  Creditos Agregar*/
/*Boton1*/
.guardarBoton {
    position: relative;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    background: #023e8a;
    color: #fff;
}

.guardarBoton:hover {
    transform: translateY(-3px);
    background: #023e8a;
    color: #fff;
}

.guardarBoton:active {
    transform: translateY(-1px);
    box-shadow: #023e8a;
}

.guardarBoton::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.guardarBoton::after {
    background-color: #fff;
}

.guardarBoton:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/*Boton2*/
.RegresarBoton {
    position: relative;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    background: #ff0000;
    color: #fff;
}

.RegresarBoton:hover {
    transform: translateY(-3px);
    background: #ff0000;
    color: #fff;
}
* {
    padding: 0;
    margin: 0;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
width: 100%;
height: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #0e4166;
background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}
